# Hello, Data!

Loading the dataset on a pandas dataframe and printing first 3 rows

In [ ]:
#Import library
import pandas as pd

# Load raw CSV
df = pd.read_csv("./Data/5000 Sales Records.csv")

# Display first 3 rows
print(df.head(3))

                              Region               Country  Item Type  \
0  Central America and the Caribbean  Antigua and Barbuda   Baby Food
1  Central America and the Caribbean                Panama     Snacks
2                             Europe        Czech Republic  Beverages

  Sales Channel Order Priority  Order Date   Order ID  Ship Date  Units Sold  \
0        Online              M  12/20/2013  957081544  1/11/2014         552
1       Offline              C    7/5/2010  301644504  7/26/2010        2167
2       Offline              C   9/12/2011  478051030  9/29/2011        4778

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      255.28     159.42      140914.56    87999.84      52914.72
1      152.58      97.44      330640.86   211152.48     119488.38
2       47.45      31.79      226716.10   151892.62      74823.48

# Snippets for dict , namedtuple & set

A dictionary is a collection of key-value pairs, accessing elements in dictionary is very fast.
Dictionaries cannot have two items with the same key and we can change, add or remove items after the dictionary has been created.

A Tuple is ordered and unchangeable, so you canâ€™t change, add or remove items from the tuple after creating it.

Set items are unordered, unchangeable, and do not allow duplicate values. Once a set is created, you cannot change its items, but you can remove items and add new items.

The usage of it can be based on our purpose. In the examples shown below, I have used dict to change a value, namedtuple to list specific columns and set to list down the unique countries in the column.
### Funtion and Data structure
Functions and Datastructures are implemented in the Dictionary module

In [ ]:
#Create a Dictionary
my_dict = {row["Order ID"]: row.to_dict()for _, row in df.head(5).iterrows()}
print(my_dict)

#Convert Dictionary to DataFrame
new_df = pd.DataFrame.from_dict(my_dict)
print(new_df)

#lookup a value
order_id = list(my_dict.keys())[1] #Datastructure 
print(my_dict[order_id])
print("--------------------------------")
#Update a value
my_dict[order_id]["Region"] = "Americas"
print(my_dict[order_id])
print("--------------------------------")

# Append a list
my_dict[order_id]["Cars"] = ["Volkswagen", "Mercedes", "BMW"]
print("After appending Cars:", my_dict[order_id])
print("--------------------------------")

#total units sold across the dictionary
units_total = sum(item["Units Sold"] for item in my_dict.values())
print("Total Units Sold across orders:", units_total)
print("--------------------------------")

#Clearing the dictionary
my_dict.clear()  # Empties the dictionary
print("Dictionary after clearing:", my_dict)

{957081544: {'Region': 'Central America and the Caribbean', 'Country': 'Antigua and Barbuda ', 'Item Type': 'Baby Food', 'Sales Channel': 'Online', 'Order Priority': 'M', 'Order Date': '12/20/2013', 'Order ID': 957081544, 'Ship Date': '1/11/2014', 'Units Sold': 552, 'Unit Price': 255.28, 'Unit Cost': 159.42, 'Total Revenue': 140914.56, 'Total Cost': 87999.84, 'Total Profit': 52914.72}, 301644504: {'Region': 'Central America and the Caribbean', 'Country': 'Panama', 'Item Type': 'Snacks', 'Sales Channel': 'Offline', 'Order Priority': 'C', 'Order Date': '7/5/2010', 'Order ID': 301644504, 'Ship Date': '7/26/2010', 'Units Sold': 2167, 'Unit Price': 152.58, 'Unit Cost': 97.44, 'Total Revenue': 330640.86, 'Total Cost': 211152.48, 'Total Profit': 119488.38}, 478051030: {'Region': 'Europe', 'Country': 'Czech Republic', 'Item Type': 'Beverages', 'Sales Channel': 'Offline', 'Order Priority': 'C', 'Order Date': '9/12/2011', 'Order ID': 478051030, 'Ship Date': '9/29/2011', 'Units Sold': 4778, 'Unit Price': 47.45, 'Unit Cost': 31.79, 'Total Revenue': 226716.1, 'Total Cost': 151892.62, 'Total Profit': 74823.48}, 892599952: {'Region': 'Asia', 'Country': 'North Korea', 'Item Type': 'Cereal', 'Sales Channel': 'Offline', 'Order Priority': 'L', 'Order Date': '5/13/2010', 'Order ID': 892599952, 'Ship Date': '6/15/2010', 'Units Sold': 9016, 'Unit Price': 205.7, 'Unit Cost': 117.11, 'Total Revenue': 1854591.2, 'Total Cost': 1055863.76, 'Total Profit': 798727.44}, 571902596: {'Region': 'Asia', 'Country': 'Sri Lanka', 'Item Type': 'Snacks', 'Sales Channel': 'Offline', 'Order Priority': 'C', 'Order Date': '7/20/2015', 'Order ID': 571902596, 'Ship Date': '7/27/2015', 'Units Sold': 7542, 'Unit Price': 152.58, 'Unit Cost': 97.44, 'Total Revenue': 1150758.36, 'Total Cost': 734892.48, 'Total Profit': 415865.88}}
                                        957081544  \
Region          Central America and the Caribbean
Country                      Antigua and Barbuda
Item Type                               Baby Food
Sales Channel                              Online
Order Priority                                  M
Order Date                             12/20/2013
Order ID                                957081544
Ship Date                               1/11/2014
Units Sold                                    552
Unit Price                                 255.28
Unit Cost                                  159.42
Total Revenue                           140914.56
Total Cost                               87999.84
Total Profit                             52914.72

                                        301644504       478051030  \
Region          Central America and the Caribbean          Europe
Country                                    Panama  Czech Republic
Item Type                                  Snacks       Beverages
Sales Channel                             Offline         Offline
Order Priority                                  C               C
Order Date                               7/5/2010       9/12/2011
Order ID                                301644504       478051030
Ship Date                               7/26/2010       9/29/2011
Units Sold                                   2167            4778
Unit Price                                 152.58           47.45
Unit Cost                                   97.44           31.79
Total Revenue                           330640.86        226716.1
Total Cost                              211152.48       151892.62
Total Profit                            119488.38        74823.48

                  892599952   571902596
Region                 Asia        Asia
Country         North Korea   Sri Lanka
Item Type            Cereal      Snacks
Sales Channel       Offline     Offline
Order Priority            L           C
Order Date        5/13/2010   7/20/2015
Order ID          892599952   571902596
Ship Date         6/15/2010   7/27/2015
Units Sold             9016        7542
Unit Price            205.7      152.58
Unit Cost            117.11       97.44
Total Revenue     1854591.2  1150758.36
Total Cost       1055863.76   734892.48
Total Profit      798727.44   415865.88
{'Region': 'Central America and the Caribbean', 'Country': 'Panama', 'Item Type': 'Snacks', 'Sales Channel': 'Offline', 'Order Priority': 'C', 'Order Date': '7/5/2010', 'Order ID': 301644504, 'Ship Date': '7/26/2010', 'Units Sold': 2167, 'Unit Price': 152.58, 'Unit Cost': 97.44, 'Total Revenue': 330640.86, 'Total Cost': 211152.48, 'Total Profit': 119488.38}
--------------------------------
{'Region': 'Americas', 'Country': 'Panama', 'Item Type': 'Snacks', 'Sales Channel': 'Offline', 'Order Priority': 'C', 'Order Date': '7/5/2010', 'Order ID': 301644504, 'Ship Date': '7/26/2010', 'Units Sold': 2167, 'Unit Price': 152.58, 'Unit Cost': 97.44, 'Total Revenue': 330640.86, 'Total Cost': 211152.48, 'Total Profit': 119488.38}
--------------------------------
After appending Cars: {'Region': 'Americas', 'Country': 'Panama', 'Item Type': 'Snacks', 'Sales Channel': 'Offline', 'Order Priority': 'C', 'Order Date': '7/5/2010', 'Order ID': 301644504, 'Ship Date': '7/26/2010', 'Units Sold': 2167, 'Unit Price': 152.58, 'Unit Cost': 97.44, 'Total Revenue': 330640.86, 'Total Cost': 211152.48, 'Total Profit': 119488.38, 'Cars': ['Volkswagen', 'Mercedes', 'BMW']}
--------------------------------
Total Units Sold across orders: 24055
--------------------------------
Dictionary after clearing: {}

In [37]:
from collections import namedtuple

# Create a namedtuple
Orders = namedtuple("Orders", ["Order_ID", "Country", "Total_Revenue"])

# Build a sample record
namedtuple_record = [
    Orders(
        Order_ID=row["Order ID"],  
        Country=row["Country"], 
        Total_Revenue=row["Total Revenue"]
    )
    for _, row in df.head(5).iterrows()
]

for row in namedtuple_record:
    print("namedtuple_record:", row)

namedtuple_record: Orders(Order_ID=957081544, Country='Antigua and Barbuda ', Total_Revenue=140914.56)
namedtuple_record: Orders(Order_ID=301644504, Country='Panama', Total_Revenue=330640.86)
namedtuple_record: Orders(Order_ID=478051030, Country='Czech Republic', Total_Revenue=226716.1)
namedtuple_record: Orders(Order_ID=892599952, Country='North Korea', Total_Revenue=1854591.2)
namedtuple_record: Orders(Order_ID=571902596, Country='Sri Lanka', Total_Revenue=1150758.36)

In [58]:
# Create a set of unique countries from the first 10 rows
unique_countries = set(df["Country"].head(10)) 

print("Unique countries:", unique_countries)

# Testing if the country is there in the set
print("Is 'Canada' in dataset?", "Canada" in unique_countries)

Unique countries: {'North Korea', 'Ethiopia', 'Antigua and Barbuda ', 'Panama', 'Morocco', 'Czech Republic', 'Federated States of Micronesia', 'Afghanistan', 'Sri Lanka', 'Bosnia and Herzegovina'}
Is 'Canada' in dataset? False

### Quick Profiling

In [79]:
import pandas as pd

# Load dataset
df = pd.read_csv("./Data/5000 Sales Records.csv")

# Unique country count (use 'City' if available instead of 'Country')
unique_country_count = df["Country"].nunique()

# Print Count of unique countries
print(f"Unique Country Count: {unique_country_count}")

# Quick profiling for Min, Mean, Max of 'Unit Price'
min_price = df["Unit Price"].min()
mean_price = df["Unit Price"].mean()
max_price = df["Unit Price"].max()

# Print results 
print("Quick Profiling Results:")
print(f"Min Price: {min_price}")
print(f"Mean Price: {mean_price}")
print(f"Max Price: {max_price}")

Unique Country Count: 185
Quick Profiling Results:
Min Price: 9.33
Mean Price: 265.74556399999994
Max Price: 668.27

###spot the grime

The dataset I was working on was a clean dataset. Had to make some changes to the dataset and saved it as updated_data.csv
I was able to create a grime and spot it.

In [83]:
# Load dataset
df = pd.read_csv("./Data/updated_data.csv")
# 1. Missing Values
missing_values = df.isnull().sum()
print("Missing Values per Column:")
print(missing_values[missing_values > 0])

# 2. Duplicate Records
duplicate_count = df.duplicated().sum()
print(f"Duplicate Records: {duplicate_count}")
if duplicate_count > 0:
    print("Example Duplicates:")
    print(df[df.duplicated()].head())

#3 Inconsistent Values (Example: Negative or zero values in 'Units Sold')
invalid_units = df[df["Units Sold"] <= 0]
print(" Invalid 'Units Sold' (<= 0):")
print(invalid_units if not invalid_units.empty else "None Found")

Missing Values per Column:
Series([], dtype: int64)
Duplicate Records: 0
 Invalid 'Units Sold' (<= 0):
                            Region     Country      Item Type Sales Channel  \
5     Middle East and North Africa     Morocco  Personal Care       Offline
43                            Asia  Kyrgyzstan         Snacks        Online
1666            Sub-Saharan Africa        Togo  Personal Care        Online

     Order Priority Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
5                 L  11/8/2010  412882792  11/22/2010           0       81.73
43                C   8/6/2013  727492606   9/22/2013           0      152.58
1666              H   2/9/2015  218608891   2/10/2015           0       81.73

      Unit Cost  Total Revenue  Total Cost  Total Profit
5         56.67        3923.04     2720.16       1202.88
43        97.44       12816.72     8184.96       4631.76
1666      56.67        6865.32     4760.28       2105.04

### Executed Clean funtion
Displayed before and after counts

In [90]:
def clean(df):
    print("Cleaning Dataset...\n")

    # BEFORE counts
    print("Before Cleaning:")
    print(f"Rows: {len(df)}")
    print(f"Invalid 'Units Sold' (<=0): {(df['Units Sold'] <= 0).sum()}")

    # Fixes
    df = df[df["Units Sold"] > 0]                       # remove invalid Units Sold
    df = df[df["Unit Price"] > 0]                       # ensuring price > 0

    # AFTER counts
    print("After Cleaning:")
    print(f"Rows: {len(df)}")
    print(f"Invalid 'Units Sold' (<=0): {(df['Units Sold'] <= 0).sum()}")

    return df


# Main
df = pd.read_csv("./Data/updated_data.csv")
df_cleaned = clean(df)

Cleaning Dataset...

Before Cleaning:
Rows: 5000
Invalid 'Units Sold' (<=0): 3
After Cleaning:
Rows: 4997
Invalid 'Units Sold' (<=0): 0

### Data Transformation

In [93]:
import re
import numpy as np

# Load dataset
df = pd.read_csv("./Data/updated_data.csv")

# Function to parse coupon codes
def parse_coupon(code):
    if pd.isna(code):
        return "others apply"
    match = re.search(r"(\d+)", str(code))
    if match:
        return int(match.group(1))   # numeric discount
    else:
        return "others apply"

# Create synthetic coupon code
np.random.seed(42)
coupons = ["SAVE10", "SAVE20", "SAVE30", "WELCOME", None]
df["coupon_code"] = np.random.choice(coupons, size=len(df))

# Apply parsing on first 5 rows
df_head = df.head(5).copy()
df_head["discount"] = df_head["coupon_code"].apply(parse_coupon)

print(df_head[["Order ID", "coupon_code", "discount"]])

    Order ID coupon_code      discount
0  957081544     WELCOME  others apply
1  301644504        None  others apply
2  478051030      SAVE30            30
3  892599952        None  others apply
4  571902596        None  others apply

### Feature Engineering

In [95]:
from datetime import datetime

# Load dataset
df = pd.read_csv("./Data/5000 Sales Records.csv")

# Convert Order Date column to datetime
df["Order Date"] = pd.to_datetime(df["Order Date"])

# Calculate days since purchase for each order
today = pd.Timestamp(datetime.today().date())
df["days_since_purchase"] = (today - df["Order Date"]).dt.days

# Show first 5 rows
print(df[["Order ID", "Order Date", "days_since_purchase"]].head())

    Order ID Order Date  days_since_purchase
0  957081544 2013-12-20                 4302
1  301644504 2010-07-05                 5566
2  478051030 2011-09-12                 5132
3  892599952 2010-05-13                 5619
4  571902596 2015-07-20                 3725

### Mini Aggregation

In [ ]:
# Load dataset
df = pd.read_csv("./Data/5000 Sales Records.csv")

# Group by Country 
revenue_by_country = df.groupby("Country")["Total Revenue"].sum().to_dict()

print("Revenue per Country (dictionary):")
print(dict(list(revenue_by_country.items())[:5]))

Revenue per Country (dictionary):
{'Afghanistan': 19299698.71, 'Albania': 32224853.869999997, 'Algeria': 23537083.54, 'Andorra': 47756693.17, 'Angola': 29053407.28}

#### Saving Cleaned dataset to Json

In [98]:
df = pd.read_csv("./Data/5000 Sales Records.csv")

# Save cleaned DataFrame to JSON
df.to_json("./Data/cleaned_sales_records.json", orient="records", lines=True)

print("Cleaned data saved to cleaned_sales_records.json")

Cleaned data saved to cleaned_sales_records.json

Functions have helped me with the readability of the code and to structure it into blocks. 
I dont have to write the code multiple times. 
It also helped with correcting the errors by isolating it.
It helps in organising the code in modules.